[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
async-timeout = "*"
billiard = "*"
celery = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
coreapi = "*"
coreschema = "*"
deprecated = "*"
django = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
idna = "*"
inflection = "*"
itypes = "*"
jinja2 = "*"
kombu = "*"
markupsafe = "*"
pillow = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
pyjwt = "*"
pyparsing = "*"
python-decouple = "*"
python-slugify = "*"
pytz = "*"
redis = "*"
requests = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
six = "*"
sqlparse = "*"
text-unidecode = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
wcwidth = "*"
wrapt = "*"
pytelegrambotapi = "*"
gunicorn = "*"
slugify = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
